@import './reset.scss';
@import './normalize.scss';

body {
  font-family: 'Karla', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: $color-text;
  background-color: white;
}

h2 {
  font-family: 'Kadwa', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.btn-reset {
  color: $color-text;
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
}

.btn-active {
  padding: 10px 45px;
  color: #fff;
  background-color: $color-btn;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
}

section {
  padding: 25px 0;
}
