.builder {
  padding: 35px 0;
  background-color: $color-bg-builder;
  box-shadow: 7px 7px 36px -10px rgba(0, 0, 0, 0.25);
}

.build__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}

.build__descr {
  font-family: $font-family-secondary;
  font-size: $font-size-xxl;
  text-align: left;
}

.build__btn {
  margin-left: auto;
  padding-left: 25px;
  padding-right: 70px;
  background-image: url(../assets/svg/next.svg);
  background-size: 35px 15px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  border-radius: $border-radius-btn;
  transition: background-position $animation-duration-basic ease-in-out;

  &:hover {
    background-position: center right 15px;
  }
}
