.header {
  padding: 25px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    padding: 10px 15px;
    font-size: $font-size-sm;
    border-radius: $border-radius-btn;
  }
}

.logo {
  font-family: $font-family-secondary;
  font-size: $font-size-xl;
  font-weight: $font-weight-bolder;
  color: $color-text;
  text-decoration: none;

  span {
    color: $color-main;
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 53px;
  
  .nav__link {
    font-family: $font-family-secondary;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $color-text;
  }
}

.header__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
}

.login__name {
  font-weight: $font-weight-bold;
}
