.instruction {
  text-align: left;
}

.instruction__title {
  font-weight: $font-weight-bold;
}

.instruction__list {
  margin-top: 20px;
  counter-reset: myCounter;
}

.instruction__item{
  list-style: none;
  line-height: 20px;
  margin: 0 0 8px 0;
  font-size: 18px;
}

.instruction__item:before {
  width: 30px;
  height: 30px;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: $color-btn;
  background-color: transparent;
  display: inline-block;
  font-family: $font-family-secondary;
  text-align: center;
  line-height: 30px;
  margin: 0 10px 0 0;
  border: 1px solid $color-btn;
  border-radius: 50%;
}

.instruction__btns {
  text-align: right;

  .btn-active {
    padding: 10px 40px 10px 25px;
    border-radius: 10px;
  }
}

.instruction__btn_favorite {
  background-size: 15px 15px;
  background-image: url(../assets/svg/heart.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
}

.instruction__btn_save {
  margin-left: 30px;
  background-size: 12px 16px;
  background-image: url(../assets/svg/save.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
}
