.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.page-number {
  font-size: $font-size-xl;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-btn;
  background-size: 10px 17px;
  background-image: url(../assets/svg/arrow-active.svg);
  background-position: center;
  background-repeat: no-repeat;

  &.page-prev {
    transform: rotate(180deg);
  }
}
