<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User page</title>
</head>
<body>
  <%= require('html-loader!../../partials/header.html').default %>
  <main>
    <section>
      <div class="container">
        <div class="flex">
          <div class="controls">
            <%= require('html-loader!../../partials/user-card.html').default %>
            <div class="buttons mt-20" id="userpage-controls">
              <button class="btn-reset btn btn_outlined buttons__item" data-link-to="articles">Articles</button>
              <button class="btn-reset btn btn_outlined btn-active buttons__item" data-link-to="recipes">Recipes</button>
              <button class="btn-reset btn btn_outlined buttons__item" data-link-to="lists">Product lists</button>
              <button class="btn-reset btn btn_outlined buttons__item">Edit profile info</button>
            </div>
            <div class="search">
              <input class="search__input" type="text" autocomplete="off" autofocus>
              <button class="search__btn btn-reset"></button>
            </div>
            <div class="categories mt-20 categories_justified" id="categories">
              <div class="categories__item categories__item_active">Bakery</div>
              <div class="categories__item">Vegan</div>
              <div class="categories__item">Dairy</div>
              <div class="categories__item categories__item_active">Dinner</div>
              <div class="categories__item">Vegeterian</div>
              <div class="categories__item">Healthy</div>
              <div class="categories__item">Gluten-free</div>
              <div class="categories__item">Lunch</div>
            </div>
          </div>
          <div class="content">
            <div class="tabs" id="recipes">
              <div class="tabs__nav tabs-nav">
                <button class="btn-reset btn btn_outlined tabs-nav__item is-active" data-tab-name="saved">Saved </button>
                <button class="btn-reset btn btn_outlined tabs-nav__item" data-tab-name="favorites">Favorites</button> 
              </div>
              <div class="tabs__content tabs-content">
                <div class="tabs-content__item is-active" data-tab-content="saved" >
                  <ul class="recipes__list list-reset recipes__list_user">
                    <%= require('html-loader!../../partials/recipe-card.html').default %>
                    <%= require('html-loader!../../partials/recipe-card.html').default %>
                    <%= require('html-loader!../../partials/recipe-card.html').default %>
                  </ul>
                </div>
                <div class="tabs-content__item" data-tab-content="favorites" >
                  <ul class="recipes__list list-reset recipes__list_user">
                    <%= require('html-loader!../../partials/recipe-card.html').default %>
                    <%= require('html-loader!../../partials/recipe-card.html').default %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs hidden" id="articles">
              <div class="tabs__nav tabs-nav">
                <button class="btn-reset btn btn_outlined tabs-nav__item is-active" data-tab-name="saved">Saved </button>
                <button class="btn-reset btn btn_outlined tabs-nav__item" data-tab-name="favorites">Favorites</button> 
              </div>
              <div class="tabs__content tabs-content">
                <div class="tabs-content__item is-active" data-tab-content="saved" >
                  <section class="articles">
                    <div class="articles__list">
                      <%= require('html-loader!../../partials/article-preview.html').default %>
                      <%= require('html-loader!../../partials/article-preview.html').default %>
                      <%= require('html-loader!../../partials/article-preview.html').default %>
                    </div>
                  </section>
                </div>
                <div class="tabs-content__item" data-tab-content="favorites" >
                  <section class="articles">
                    <div class="articles__list">
                      <%= require('html-loader!../../partials/article-preview.html').default %>
                      <%= require('html-loader!../../partials/article-preview.html').default %>
                    </div>
                </section>
                </div>
              </div>
            </div>
            <div class="tabs hidden" id="lists">
              <div class="tabs__nav tabs-nav">
                <button class="btn-reset btn btn_outlined tabs-nav__item is-active" data-tab-name="products-stocked">Products list </button>
                <button class="btn-reset btn btn_outlined tabs-nav__item" data-tab-name="products-needed">Shopping list</button> 
              </div>
              <div class="tabs__content tabs-content">
                <div class="tabs-content__item is-active" data-tab-content="products-stocked" >
                  <ul class="list-reset products-list products-list_stocked">
                    <p class="message">You haven't added anything yet...</p>
                  </ul>
                </div>
                <div class="tabs-content__item" data-tab-content="products-needed">
                  <div class="select-wrapper">
                    <input id="products-input" type="text" placeholder="start typing product">
                    <div class="product-options">
                      <ul class="scrolling-area" id="relevant-options">
                      </ul>
                    </div>
                  </div>
                  <ul class="list-reset products-list products-list_needed">
                    <p class="message">You haven't added anything yet...</p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= require('html-loader!../../partials/footer.html').default %>
</body>
</html>
