<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
</head>
<body>
    <%= require('html-loader!./src/partials/header.html').default %>
    <main>
        <div class="container">
            <div class="flex">
                <div class="controls">
                    <%= require('html-loader!./src/partials/user-card.html').default %>
                    <div class="buttons mt-20">
                        <a href="#" class="btn-reset btn btn_outlined buttons__item">Edit profile info</a>
                        <a href="#" class="btn-reset btn btn_outlined buttons__item">Articles</a>
                        <a href="#" class="btn-reset btn btn-active buttons__item">Recipes</a>
                    </div>
                    <div class="search">
                        <input class="search__input" type="text" autocomplete="off" autofocus>
                        <button class="search__btn btn-reset"></button>
                    </div>
                    <div class="categories mt-20 categories_justified" id="categories">
                        <div class="categories__item categories__item_active">Bakery</div>
                        <div class="categories__item">Vegan</div>
                        <div class="categories__item">Dairy</div>
                        <div class="categories__item categories__item_active">Dinner</div>
                        <div class="categories__item">Vegeterian</div>
                        <div class="categories__item">Healthy</div>
                        <div class="categories__item">Gluten-free</div>
                        <div class="categories__item">Lunch</div>
                      </div>
                </div>
                <div class="content">
                    <div class="tabs">
                        <div class="tabs__nav tabs-nav">
                            <button class="btn-reset btn btn_outlined tabs-nav__item is-active" data-tab-name="saved">Saved</button>
                            <button class="btn-reset btn btn_outlined tabs-nav__item" data-tab-name="favorites">Favorites</button> 
                        </div>
                        <div class="tabs__content tabs-content">
                            <div class="tabs-content__item is-active" data-tab-content="saved" >
                                <!-- TODO: Add recipe cards -->
                            </div>
                            <div class="tabs-content__item" data-tab-content="favorites" >
                                <!-- TODO: Add recipe cards -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
