$color-text: #333;
$color-main: #fc8203;
$color-btn: #ff7d34;

$kadwa-regular-sm: 400 12px/1.3 normal, "Kadwa", sans-serif;
$kadwa-regular-md: 400 14px/1.3 normal, "Kadwa", sans-serif;
$kadwa-regular-lg: 400 16px/1.3 normal, "Kadwa", sans-serif;
$kadwa-bold-sm: 700 12px/1.3 normal, "Kadwa", sans-serif;
$karla-bold-lg: 700 24px/1.3 normal, "Karla", sans-serif;
$karla-bolder: 800 24px/1.3 normal, "Karla", sans-serif;
