$color-text: #333;
$color-text-active: #fc8203;
$color-main: #d54216;
$color-btn: #d54215;
$color-tag-dark: #CC4B00;
$color-tag-light: #ffffff;

$font-family-main: "Kadwa", sans-serif;
$font-family-secondary: "Karla", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-3xl: 30px;
$font-size-4xl: 32px;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$avatar-size-max: 250px;

$category-item-margin: 3px;
