<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
</head>
<body>
  <%= require('html-loader!../../../src/partials/header.html').default %>
  <main>
    <%= require('html-loader!../../partials/search.html').default %>
    <div class="container">   
      <div class="flex col-gap-70">
        <section class="filters">
          <div class="filters__bg"></div>
          <h1 class="filters__header section__header">Filters</h1>
          <div class="filters__list filters-list">
            <ul class="filters-list_checkbox checkbox-list">
              <li class="checkbox-list__item filter" id="general">
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="vegeterian" value="vegeterian"> 
                  <label for="vegeterian">vegeterian</label> 
                </div> 
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="vegan" value="vegan"> 
                  <label for="vegan">vegan</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="gluten-free" value="gluten-free"> 
                  <label for="gluten-free">gluten-free</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="dairy-free" value="dairy-free"> 
                  <label for="dairy-free">dairy-free</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="cheap" value="cheap"> 
                  <label for="cheap">cheap</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="popular" value="popular"> 
                  <label for="popular">popular</label> 
                </div>
              </li>
              <li class="checkbox-list__item filter" id="dishTypes">
                <h2 class="filter__title">Dish types</h2>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="appetizer" value="appetizer"> 
                  <label for="appetizer">appetizer</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="dessert" value="dessert"> 
                  <label for="dessert">dessert</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="main-course" value="main course"> 
                  <label for="main-course">main course</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="breakfast" value="breakfast"> 
                  <label for="breakfast"> breakfast</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="soup" value="soup"> 
                  <label for="soup">soup</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="salad" value="salad"> 
                  <label for="salad">salad</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="snack" value="snack"> 
                  <label for="snack">snack</label>
                </div>
                <div class="checkbox-wrapper"> 
                  <input type="checkbox" id="drink" value="drink"> 
                  <label for="drink">drink</label>
                </div>
              </li>
              <li class="checkbox-list__item filter" id="cuisines">
                <h2 class="filter__title">Cuisines</h2>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="european" value="european"> 
                  <label for="european">European</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="american" value="american"> 
                  <label for="american">American</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="asian" value="asian"> 
                  <label for="asian">Asian</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="middle-eastern" value="middle-eastern"> 
                  <label for="middle-eastern">Middle Eastern</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="mexican" value="mexican"> 
                  <label for="mexican">Mexican</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="georgian" value="georgian"> 
                  <label for="georgian">Georgian</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="ukrainian" value="ukrainian"> 
                  <label for="ukrainian">Ukrainian</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="russian" value="russian"> 
                  <label for="russian">Russian</label>
                </div>
              </li>
              <li class="checkbox-list__item filter" id="diets">
                <h2 class="filter__title">Diets</h2>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="lacto-ovo-vegetarian" value="lacto ovo vegetarian"> 
                  <label for="lacto-ovo-vegetarian">lacto ovo vegetarian </label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="dairy_free" value="dairy-free"> 
                  <label for="dairy_free">dairy free</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="gluten_free" value="gluten-free"> 
                  <label for="gluten_free">gluten free</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="primal" value="primal"> 
                  <label for="primal">primal</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="paleolithic" value="paleolithic"> 
                  <label for="paleolithic">paleolithic</label>
                </div>
                <div class="checkbox-wrapper">
                  <input type="checkbox" id="fodmap-friendly" value="fodmap friendly"> 
                  <label for="fodmap-friendly">fodmap friendly</label>
                </div>
              </li>
            </ul>
            <ul class="filters-list_range range-list">
              <li class="range-list__item filter">
                <h2 class="filter__title">Minimum health score</h2>
                <div class="range-filter" id="health-score"></div>
                <div class="range-filter__extremums">
                  <span id="health-score-lower">0</span>
                  <span id="health-score-higher">10</span>
                </div>
              </li>
              <li class="range-list__item filter">
                <h2 class="filter__title">Maximim ready time</h2>
                <div class="range-filter" id="max-ready-time"></div>
                <div class="range-filter__extremums">
                  <div><span id="time-lower">0</span>min</div>
                  <div><span id="time-higher">360</span>min</div>
                </div>
              </li>
              <li class="range-list__item filter">
                <h2 class="filter__title">Price per serving</h2>
                <div class="range-filter" id="price"></div>
                <div class="range-filter__extremums">
                  <div><span id="price-lower">1</span>$</div>
                  <div><span id="price-higher">1000</span>$</div>
                </div>
              </li>
            </ul class="filters-list_range range-list">
              <h2 class="filter__title">Nutrients</h2>
            <ul>
              <li class="range-list__item filter">
                <h3 class="filter__subheading">Calories</h3>
                <div class="range-filter" id="calories"></div>
                <div class="range-filter__extremums">
                  <div><span id="calories-lower">10</span>kcal</div>
                  <div><span id="calories-higher">1500</span>kcal</div>
                </div>
              </li>
              <li class="range-list__item filter">
                <h3 class="filter__subheading">Carbohydrates</h3>
                <div class="range-filter" id="carbohydrates"></div>
                <div class="range-filter__extremums">
                  <div><span id="carbohydrates-lower">0</span>g</div>
                  <div><span id="carbohydrates-higher">1000</span>g</div>
                </div>
              </li>
              <li class="range-list__item filter">
                <h3 class="filter__subheading">Fats</h3>
                <div class="range-filter" id="fats"></div>
                <div class="range-filter__extremums">
                  <div><span id="fats-lower">0</span>g</div>
                  <div><span id="fats-higher">600</span>g</div>
                </div>
              </li>
              <li class="range-list__item filter">
                <h3 class="filter__subheading">Proteins</h3>
                <div class="range-filter" id="proteins"></div>
                <div class="range-filter__extremums">
                  <div><span id="proteins-lower">0</span>g</div>
                  <div><span id="proteins-higher">1000</span>g</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="filters__btns">
            <button class="filters__btn_reset btn-active btn-reset">Reset</button>
            <button class="filters__btn_show btn-active btn-reset">Show</button>
          </div>
        </section>
        <section class="recipes-container">
          <div class="recipes-container__header section__header">
            <button class="filters-btn btn-reset">Фильтры</button>
            <div class="select-container">
              <div class="select-container__text">Sort by:</div>
              <div class="select-box">
                <div class="options-container">
                  <label class="option">
                    Popular first
                    <input type="radio" class="radio" id="popular-first" name="sort-method" value="popularity">
                  </label>
                  <label class="option">
                    Recent first
                    <input type="radio" class="radio" id="recent-first" name="sort-method" value="date">
                  </label>
                  <label class="option">
                    Most rated first
                    <input type="radio" class="radio" id="rated-first" name="sort-method" value="rating">
                  </label>
                  <label class="option">
                    Cheap first
                    <input type="radio" class="radio" id="cheap-first" name="sort-method" value="price">
                  </label>
                </div>
                <div id="selected">Popular first</div>
              </div>
            </div>
          </div>
          <div class="recipes">
            <ul class="recipes__list list-reset recipes__list_2-col">
            </ul>
            <%= require('html-loader!../../partials/pagination.html').default %>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%= require('html-loader!../../../src/partials/footer.html').default %>
  <%= require('html-loader!../../partials/forms.html').default %>
</body>
</html>
