<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body class="main-page">
    <%= require('html-loader!../../partials/header.html').default %>
    <main>
        <%= require('html-loader!../../partials/hero.html').default %>
        <%= require('html-loader!../../partials/slider.html').default %>
        <%= require('html-loader!../../partials/articles.html').default %>
        <%= require('html-loader!../../partials/builder.html').default %>
        <%= require('html-loader!../../partials/breakfast.html').default %>
        <%= require('html-loader!../../partials/lunch.html').default %>
        <%= require('html-loader!../../partials/dinner.html').default %>
        <%= require('html-loader!../../partials/bakery.html').default %>
    </main>
    <%= require('html-loader!../../partials/footer.html').default %>
    <%= require('html-loader!../../partials/forms.html').default %>
</body>
</html>
