<section class="articles">
  <div class="container">
    <h1 class="articles__title">Recent food articles</h1>
    <div class="articles__content">
      <div class="select-container">
        <div class="select-container__text">Choose category:</div>
          <div class="select-box">
            <div class="options-container">
              <div class="option">
                <input type="radio" class="radio" id="popular-first" name="sort-method" value="popular-first">
                <label for="popular-first">Cooking tips</label>
              </div>
              <div class="option">
                <input type="radio" class="radio" id="recent-first" name="sort-method" value="recent-first">
                <label for="recent-first">Diets</label>
              </div>
              <div class="option">
                <input type="radio" class="radio" id="rated-first" name="sort-method" value="rated-first">
                <label for="rated-first">Category</label>
              </div>
              <div class="option">
                <input type="radio" class="radio" id="cheap-first" name="sort-method" value="cheap-first">
                <label for="cheap-first">Category</label>
              </div>
            </div>
            <div id="selected">Cooking tips</div>
          </div>
      </div>
      <ul class="articles__list list-reset">
      </ul>
      <div class="pagination">
        <button class="pagination__btn btn-reset page-prev" disabled></button>
        <span class="page-number">1</span>
        <button class="pagination__btn btn-reset page-next"></button>
      </div>
    </div>
  </div>
</section>
