<article class="article">
  <img class="article__img" src="../assets/article.jpg" alt="article img">
  <div class="article__content">
    <time class="article__date" datetime="2020-07-03">JULY 3, 2020</time>
    <h3 class="article__title">How to cook salmon</h3>
    <p class="article__summary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    </p>
    <a class="article__btn btn-reset" href="#">contunue reading</a>
  </div>
</article>
