<section class="articles">
  <div class="container">
    <h2 class="articles__title">Top articles</h2>
    <div class="articles__list">
      <article class="article">
        <img class="article__img" src="../assets/article.jpg" alt="article img">
        <div class="article__content">
          <div class="article__header">
            <time class="article__date" datetime="2020-07-03">JULY 3, 2020</time>
            <div class="article__btns">
              <button class="save-article btn-reset save-btn"></button>
              <button class="favorite-article btn-reset favorite-btn"></button>
            </div>
          </div>
          <h3 class="article__title">How to cook salmon</h3>
          <p class="article__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
          <a class="article__btn btn-reset" href="#">contunue reading</a>
        </div>
      </article>
      <article class="article">
        <img class="article__img" src="../assets/article.jpg" alt="article img">
        <div class="article__content">
          <div class="article__header">
            <time class="article__date" datetime="2020-07-03">JULY 3, 2020</time>
            <div class="article__btns">
              <button class="save-article btn-reset save-btn"></button>
              <button class="favorite-article btn-reset favorite-btn"></button>
            </div>
          </div>
          <h3 class="article__title">How to cook salmon</h3>
          <p class="article__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
          <a class="article__btn btn-reset" href="#">contunue reading</a>
        </div>
      </article>
      <article class="article">
        <img class="article__img" src="../assets/article.jpg" alt="article img">
        <div class="article__content">
          <div class="article__header">
            <time class="article__date" datetime="2020-07-03">JULY 3, 2020</time>
            <div class="article__btns">
              <button class="save-article btn-reset save-btn"></button>
              <button class="favorite-article btn-reset favorite-btn"></button>
            </div>
          </div>
          <h3 class="article__title">How to cook salmon</h3>
          <p class="article__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          </p>
          <a class="article__btn btn-reset" href="#">contunue reading</a>
        </div>
      </article>
    </div>
    <a href="./articles.html" class="articles__btn_more btn-active btn-reset">Read more articles</a>
  </div>
</section>
