<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__year">© 2022</p>
      <div class="footer__authors">
        <a href="https://github.com/kravchuk-st" class="author__item" target="_blank" rel="noreferrer">Stanislav Kravchuk</a>
        <span>|</span>
        <a href="https://github.com/foxtrotkilomike" class="author__item" target="_blank" rel="noreferrer">Philipp Khromov</a>
        <span>|</span>
        <a href="https://github.com/malinka775" class="author__item" target="_blank" rel="noreferrer">Alina Khasanova</a>
      </div>
      <a href="https://rs.school/js/" class="footer__link" target="_blank">
        <img src="../assets/svg/rs_school.svg" alt="rs school">
      </a>
    </div>
  </div>
</footer>
