<section class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="forms">
        <ul class="forms__tabs forms-tabs">
          <li class="tabs-nav__item forms-tabs__item is-active"  data-tab-name="sign-in"><a href="/">Sign in</a></li>
          <li class="tabs-nav__item forms-tabs__item" data-tab-name="sign-up"><a href="/">Sign up</a></li>
        </ul>
        <div class="forms__content">
          <form class="tabs-content__item is-active" data-tab-content="sign-in" action="/" method="POST" id="sign-in">
            <div class="form-field">
              <label for="email-signin">Email</label>
              <input type="email" id="email-signin" name="email" autocomplete="email" required>
            </div>
            <div class="form-field">
              <label for="password-signin">Password</label>
              <input type="password" id="password-signin" name="password" autocomplete="current-password" minlength="5">
            </div>
            <div class="checkbox-wrapper form-field">
              <input type="checkbox" id="remember" checked> 
              <label for="remember">Keep me signed in</label>
            </div>
            <div class="form-error hidden" id="wrong-password">Incorrect password</div>
            <div class="form-error hidden" id="user-not-found">User with such email not found</div>
            <button class="btn-active btn-reset form__btn" type="submit">Sign in</button>
          </form>
          <form class="tabs-content__item" data-tab-content="sign-up" action="/" method="POST" id="sign-up">
            <div class="form-field">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required autofocus>
            </div>
            <div class="form-field">
              <label for="email-signup">Email</label>
              <input type="email" id="email-signup" name="email" autocomplete="email" required>
            </div>
            <div class="form-field">
              <label for="password-signup">Password</label>
              <input type="password" id="password-signup" name="password" autocomplete="new-password" required
                     minlength="5">
            </div>
            <div class="form-field">
              <label for="password-confirm">Confirm password</label>
              <input type="password" id="password-confirm" name="password-confirm" autocomplete="new-password" required minlength="5">
            </div>
            <div class="checkbox-wrapper form-field">
              <input type="checkbox" id="confirm" checked required> 
              <label for="confirm"> <div>I accept <a href="/" class="form-field__link"> terms and conditions of use</a></div> </label>
            </div>
            <div class="form-error hidden" id="password-mismatch">Passwords must match</div>
            <div class="form-error hidden" id="user-exist">User with such email already exist</div>
            <button class="btn-active btn-reset form__btn" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
