<section class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="forms">
        <nav class="forms__tabs forms-tabs">
          <a href="/" class="tabs-nav__item forms-tabs__item is-active" data-tab-name="sign-in">Sign in</a>
          <a href="/" class="tabs-nav__item forms-tabs__item" data-tab-name="sign-up">Sign up</a>
        </nav>
        <div class="forms__content">
          <form class="tabs-content__item is-active" data-tab-content="sign-in" action="/" method="POST" id="sign-in">
            <div class="form-field">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="form-field">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required minlength="5">
            </div>
            <div class="checkbox-wrapper form-field">
              <input type="checkbox" id="remember" checked> 
              <label for="remember">Keep me signed in</label>
            </div>
            <button href="#" class="btn-active btn-reset form__btn" type="submit">Sign in</button>
          </form>
          <form class="tabs-content__item" data-tab-content="sign-up" action="/" method="POST" id="sign-in">
            <div class="form-field">
              <label for="email">Email</label>
              <input type="email" id="email" name="email">
            </div>
            <div class="form-field">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required minlength="5">
            </div>
            <div class="form-field">
              <label for="password-confirm">Confirm password</label>
              <input type="password" id="password-confirm" name="password" required minlength="5">
            </div>
            <div class="checkbox-wrapper form-field">
              <input type="checkbox" id="confirm" checked required> 
              <label for="confirm"> <div>I accept <a href="/" class="form-field__link"> terms and conditions of use</a></div> </label>
            </div>
            <button href="#" class="btn-active btn-reset form__btn" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
