<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="./" class="logo header__logo">RS <span>Recipes</span></a>
      <nav class="navbar header__nav">
        <ul class="nav navbar__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Recipes</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Constructor</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Articles</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About Us</a>
          </li>
        </ul>
      </nav>
      <button class="btn btn-active btn-reset lang">en / ru</button>
      <div class="login header__login">
        <span>Hello, <span class="login__name" id="user-name">User</span>!</span>
        <a href="./user-page.html">
          <img width="35" height="35" src="../assets/svg/login.svg" alt="avatar icon">
        </a>
      </div>
    </div>
  </div>
</header>
