<section class="hero">
  <div class="container">
    <div class="search">
      <input class="search__input" type="text" autocomplete="off" autofocus>
      <button class="search__btn btn-reset"></button>
    </div>
    <div class="theme hero__theme">
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/quick.jpg" alt="main course">
        <h6 class="category__title">main course</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/dinner.jpg" alt="dessert">
        <h6 class="category__title">dessert</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/vegetarian.jpg" alt="appetizer">
        <h6 class="category__title">appetizer</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/healthy.jpg" alt="salad">
        <h6 class="category__title">salad</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/pot.jpg" alt="breakfast">
        <h6 class="category__title">breakfast</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/soup.jpg" alt="soup">
        <h6 class="category__title">soup</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/snack.jpg" alt="snack">
        <h6 class="category__title">snack</h6>
      </a>
      <a class="category" href="#">
        <img class="category__img" src="../assets/teams/drink.jpg" alt="drink">
        <h6 class="category__title">drink</h6>
      </a>
    </div>
  </div>
</section>
