<section class="hero">
  <div class="container">
    <div class="search">
      <input class="search__input" type="text">
      <button class="search__btn btn-reset"></button>
    </div>
    <div class="theme hero__theme">
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/quick.jpg" alt="...">
        <h6 class="card__title">quick and easy</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/dinner.jpg" alt="...">
        <h6 class="card__title">dinner</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/vegetarian.jpg" alt="...">
        <h6 class="card__title">vegetarian</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/healthy.jpg" alt="...">
        <h6 class="card__title">healthy</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/pot.jpg" alt="...">
        <h6 class="card__title">instant pot</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/other.jpg" alt="...">
        <h6 class="card__title">vegan</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/other.jpg" alt="...">
        <h6 class="card__title">meal prep</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/other.jpg" alt="...">
        <h6 class="card__title">soups</h6>
      </a>
      <a class="card" href="#">
        <img class="card__img" src="../assets/teams/other.jpg" alt="...">
        <h6 class="card__title">salads</h6>
      </a>
    </div>
  </div>
</section>
