<section class="instruction">
  <div class="container">
    <h3 class="instruction__title">Instructions</h3>
    <ol class="instruction__list">
      <li class="instruction__item">How to Make Strawberry Creme Cheese Filling</li>
      <li class="instruction__item">Add cream cheese, strawberries, vanilla extract, lemon juice, and granulated sugar into a medium-sized mixing bowl.</li>
      <li class="instruction__item">Use a hand mixer, wooden spoon, or spatula to mix ingredients.</li>
      <li class="instruction__item">Mix until smooth.</li>
      <li class="instruction__item">Blend Chocolate Crepes Ingredients</li>
    </ol>
    <div class="instruction__btns">
      <button class="instruction__btn_favorite btn-active btn-reset">Add to favorite recipes</button>
      <button class="instruction__btn_save btn-active btn-reset">Save for later</button>
    </div>
  </div>
</section>