<section class="recipe">
  <div class="container">
    <h1 class="recipe__title">
      Strawberry Cheesecake Chocolate Crepes
    </h1>
    <div class="recipe__content">
      <div class="recipe__consist">
        <div class="recipe__ingredients">
          <div class="ingredients__header">
            <h3 class="ingredients__title">Ingredients</h3>
            <button class="ingredients__btn btn-reset" id="less-ingredients">-</button>
            <span class="ingredients__amount">4</span>
            <button class="ingredients__btn btn-reset" id="more-ingredients">+</button>
          </div>
          <ul class="ingredients__list list-reset">
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient0" name="ingredient0" checked>
              <label for="ingredient0">8 oz cream cheese</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient1" name="ingredient1">
              <label for="ingredient1">1 1/4 cup diced strawberries</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient2" name="ingredient2">
              <label for="ingredient2">1 tsp vanilla extract</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient3" name="ingredient3">
              <label for="ingredient3">1 tsp lemon juice</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient4" name="ingredient4">
              <label for="ingredient4">2 tbsp granulated sugar</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient5" name="ingredient5">
              <label for="ingredient5">1 1/2 cups all-purpose flour</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient6" name="ingredient6">
              <label for="ingredient6">1/8 tsp kosher salt</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient7" name="ingredient7">
              <label for="ingredient7">3 eggs</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient8" name="ingredient8">
              <label for="ingredient8">1 1/4 cups milk</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient9" name="ingredient9">
              <label for="ingredient9">1/4 cup water</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient10" name="ingredient10">
              <label for="ingredient10">4 tbsp unsalted butter melted</label>
            </li>
            <li class="ingredients__item">
              <input type="checkbox" id="ingredient11" name="ingredient11">
              <label for="ingredient11">1/2 tsp vanilla extract</label>
            </li>
          </ul>
          <button class="btn-active btn-reset">Add to my shopping list</button>
        </div>
        <div class="meta recipe__meta">
          <div class="meta__item">
            <p>Calories</p>
            <p class="meta__calories">638</p>
          </div>
          <div class="meta__item">
            <p>Protein</p>
            <p class="meta__protein">16g</p>
          </div>
          <div class="meta__item">
            <p>Fat</p>
            <p class="meta__fat">38g</p>
          </div>
        </div>
      </div>
      <div class="recipe__descr">
        <img class="recipe__img" src="../assets/cheesecake.jpg" alt="...">
        <div class="recipe__info">
          <img class="info-icon" src="../assets/svg/info-circle.svg" alt="...">
          <div class="info__top">
            <ul class="info__numbers list-reset">
              <li class="number__item">Cooking time: <span class="number_time">20</span> min</li>
              <li class="number__item">Servings: <span class="number_servings">1</span></li>
              <li class="number__item">Price per serving: $<span class="number_price">1.69</span></li>
              <li class="number__item">Health score: <span class="number_health">1</span></li>
            </ul>
            <ul class="info__categories list-reset">
              <li class="category__item">Vegeterian</li>
              <li class="category__item">Vegan</li>
              <li class="category__item">Dairy free</li>
              <li class="category__item">Gluten free</li>
            </ul>
          </div>
          <div class="info__equipment">
            <span class="equipment__text">Equipment:</span>
            <ul class="equipment__list list-reset">
              <li class="equipment__item">bowl</li>
              <li class="equipment__item">food processor</li>
              <li class="equipment__item">blender</li>
              <li class="equipment__item">frying pan</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>