<div class="profile">
  <div class="profile__general">
    <div class="profile__avatar">
      <img class="profile__avatar__img" src="../assets/svg/avatar.svg" alt="avatar image">
    </div>
    <h1 class="profile__name">Jane Doe</h1>
    <span class="profile__motto">I just love cooking and sharing my experience!</span>
  </div>
  <div class="profile__info">
    <div class="profile__info__item">Age: <span id="user-age">28</span></div>
    <div class="profile__info__item">Location: <span id="user-location">New-York</span></div>
    <div class="profile__info__item">
      <div class="profile__info__interests">Cooking interests:</div> 
      <div class="fav-categories" id="fav-categories">
        <div class="category-tag">Bakery</div>
        <div class="category-tag">Vegan</div>
        <div class="category-tag">Dinner</div>
        <div class="category-tag">Healthy</div>
      </div>
    </div>
  </div>
</div>
